<div class="flex justify-content-center">
  <div class="flex gap-4 flex-column w-11">
    <div class="flex justify-content-center">
      <h1 class="m-0">Top artists</h1>
    </div>

    <div class="flex justify-content-center">
      <p-selectButton
        [allowEmpty]="false"
        [options]="stateOptions"
        [(ngModel)]="timeRange"
        optionLabel="label"
        optionValue="value"
        (onChange)="onOptionChange($event)"
      />
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="dataPagination.first"
      [rows]="actualRows"
      [totalRecords]="dataPagination.totalRecords"
      [rowsPerPageOptions]="dataPagination.rowsPerPageOptions"
    />
    <div class="flex justify-content-center">
      <div class="flex flex-wrap gap-3 justify-content-center">
        <!-- NO DATA -->
        <div
          *ngIf="topArtists?.length === 0 && !isLoading.artists"
          class="flex justify-content-center align h-24rem align-items-center"
        >
          <span class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl"
            >No data</span
          >
        </div>
        <!-- SKELETON -->
        <ng-container *ngIf="isLoading.artists">
          <div class="flex flex-wrap gap-3 justify-content-center">
            <app-artist-card-skeleton
              *ngFor="let skeleton of skeletonElements"
              class="w-5rem md:w-8rem lg:w-10rem"
            ></app-artist-card-skeleton>
          </div>
        </ng-container>
        <!-- DATA -->
        <ng-container *ngIf="!isLoading.artists">
          <div class="flex flex-wrap gap-3 justify-content-center">
            <app-artist-card-item
              *ngFor="let artist of topArtists"
              [artist]="artist"
              class="w-5rem md:w-8rem lg:w-10rem"
            ></app-artist-card-item>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
