<svg
  viewBox="0 0 191 43"
  [attr.width]="width"
  [attr.height]="height"
  [attr.fill]="iconColor"
>
  <g
    id="musicWaves"
    transform="matrix(2.0045899,0,0,2.0045899,-44.455084,-200.73151)"
  >
    <rect
      id="rect3-8"
      width="3.491986"
      height="14.965654"
      x="23.050589"
      y="105.96491"
      ry="0"
      inkscape:label="wave1"
    />
    <rect
      style="fill: #1bd760; stroke-width: 1.25089"
      id="rect3"
      width="3.491986"
      height="16.519089"
      x="27.789713"
      y="104.41148"
      ry="0"
      inkscape:label="wave2"
    />
    <rect
      id="rect3-8-8"
      width="3.491986"
      height="17.913889"
      x="32.528839"
      y="103.01668"
      ry="0"
      inkscape:label="wave3"
    />
    <rect
      id="rect3-8-8-5"
      width="3.491986"
      height="19.021347"
      x="37.267963"
      y="101.90922"
      ry="0"
      inkscape:label="wave4"
    />
    <rect
      id="rect3-8-8-3"
      width="3.491986"
      height="19.724733"
      x="42.007088"
      y="101.20583"
      ry="0"
      inkscape:label="wave5"
    />
    <rect
      id="rect3-8-8-2"
      width="3.491986"
      height="19.953707"
      x="46.746212"
      y="100.97686"
      ry="0"
      inkscape:label="wave6"
    />
    <rect
      id="rect3-8-8-7"
      width="3.491986"
      height="19.684824"
      x="51.485332"
      y="101.24574"
      ry="0"
      inkscape:label="wave7"
    />
    <rect
      id="rect3-8-8-8"
      width="3.491986"
      height="18.946518"
      x="56.224457"
      y="101.98405"
      ry="0"
      inkscape:label="wave8"
    />
    <rect
      id="rect3-8-9"
      width="3.491986"
      height="17.814117"
      x="60.963581"
      y="103.11645"
      ry="0"
      inkscape:label="wave9"
    />
    <rect
      id="rect3-5"
      width="3.491986"
      height="16.397369"
      x="65.702713"
      y="104.5332"
      ry="0"
      inkscape:label="wave10"
    />
    <rect
      id="rect3-8-8-9"
      width="3.491986"
      height="14.835952"
      x="70.441833"
      y="106.09462"
      ry="0"
      inkscape:label="wave11"
    />
    <rect
      id="rect3-8-8-5-0"
      width="3.491986"
      height="13.289501"
      x="75.180954"
      y="107.64107"
      ry="0"
      inkscape:label="wave12"
    />
    <rect
      id="rect3-8-8-3-9"
      width="3.491986"
      height="11.912661"
      x="79.920082"
      y="109.01791"
      ry="0"
      inkscape:label="wave13"
    />
    <rect
      id="rect3-8-8-2-3"
      width="3.491986"
      height="10.835134"
      x="84.659203"
      y="110.09544"
      ry="0"
      inkscape:label="wave14"
    />
    <rect
      id="rect3-8-8-7-4"
      width="3.491986"
      height="10.166668"
      x="89.398331"
      y="110.7639"
      ry="0"
      inkscape:label="wave15"
    />
    <rect
      id="rect3-8-8-8-0"
      width="3.491986"
      height="9.9805946"
      x="94.137451"
      y="110.94997"
      ry="0"
      inkscape:label="wave16"
    />
    <rect
      id="rect3-8-8-8-0-0"
      width="3.491986"
      height="10.286892"
      x="98.876579"
      y="110.64368"
      ry="0"
      inkscape:label="wave17"
    />
    <rect
      id="rect3-8-8-8-0-5"
      width="3.491986"
      height="11.058421"
      x="103.61571"
      y="109.87215"
      ry="0"
      inkscape:label="wave18"
    />
    <rect
      id="rect3-8-8-8-0-8"
      width="3.491986"
      height="12.216963"
      x="108.35482"
      y="108.71361"
      ry="0"
      inkscape:label="wave19"
    />
    <rect
      id="rect3-8-8-8-0-8-4"
      width="3.491986"
      height="13.648677"
      x="113.09394"
      y="107.28189"
      ry="0"
      inkscape:label="wave20"
    />
  </g>
</svg>
