<div
  class="w-full cursor-pointer hover:shadow-8"
  (click)="handleClick(artist.external_urls.spotify)"
>
  <div
    class="flex justify-content-between gap-3 py-1"
    [ngClass]="{ 'border-top-1 surface-border': showBorder }"
  >
    <div
      class="flex justify-content-center align-items-center text-4xl font-bold text-primary w-2"
    >
      #{{ artist.rank_number }}
    </div>

    <div class="flex w-5rem h-5rem overflow-hidden pb-2 border-circle">
      <p-image
        [src]="artist.images[0].url"
        [alt]="artist.name"
        width="100%"
      ></p-image>
    </div>
    <div
      class="flex flex-column justify-content-center justify-content-center flex-1 gap-4"
    >
      <div class="text-lg font-medium text-900">
        {{ artist.name }}
      </div>
    </div>
  </div>
</div>
