<div
  class="w-full h-full z-5"
  appClickOutside
  (clickOutside)="onClickedOutside()"
>
  <audio #audio>
    <source
      *ngIf="isPlaying && urlPreview"
      [src]="urlPreview"
      type="audio/mpeg"
    />
  </audio>

  <div
    class="border-circle w-full h-full bg-primary opacity-80 cursor-pointer flex align-items-center justify-content-center"
    (click)="isPlaying ? stopAudio() : playAudio()"
  >
    <span
      icon-play
      class="flex align-items-center justify-content-center"
      width="60%"
      height="60%"
      *ngIf="!isPlaying"
      id="icon-play"
      style="pointer-events: none"
    ></span>
    <span
      icon-pause
      class="flex align-items-center justify-content-center"
      width="60%"
      height="60%"
      *ngIf="isPlaying"
      style="pointer-events: none"
      id="icon-pause"
    ></span>
  </div>
</div>
