<svg
  #graphPath
  [attr.width]="width"
  [attr.height]="height"
  viewBox="0 0 191 113"
  id="graphSvg"
>
  <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
    <path
      style="
        fill: none;
        fill-opacity: 1;
        stroke: #969696;
        stroke-width: 0.585778;
        stroke-dasharray: none;
        stroke-opacity: 0.677193;
      "
      d="M 3.4930157,107.10336 22.381696,75.022785 32.175823,88.771606 45.467852,63.820042 54.562401,77.059644 70.652752,47.525129 93.288235,81.461416 104.68332,53.251481 125.1606,67.203386 140.61082,28.684153 158.7999,67.89376 183.98481,3.7325892"
      id="allPath"
    />
    <g
      style="
        fill: #1bd760;
        fill-opacity: 1;
        stroke: #1bd760;
        stroke-width: 0.323977;
        stroke-dasharray: none;
        stroke-opacity: 1;
      "
    >
      <circle
        class="node"
        id="node1"
        cx="3.4370125"
        cy="107.10336"
        r="1.54763"
      />
      <circle
        class="node"
        id="node2"
        cx="22.381697"
        cy="75.022785"
        r="1.54763"
      />
      <circle
        class="node"
        id="node3"
        cx="32.175824"
        cy="88.771606"
        r="1.54763"
      />
      <circle
        class="node"
        id="node4"
        cx="45.467853"
        cy="63.820042"
        r="1.54763"
      />
      <circle
        class="node"
        id="node5"
        cx="54.562402"
        cy="77.059644"
        r="1.54763"
      />
      <circle
        class="node"
        id="node6"
        cx="70.652753"
        cy="47.525129"
        r="1.54763"
      />
      <circle
        class="node"
        id="node7"
        cx="93.28824"
        cy="81.461416"
        r="1.54763"
      />
      <circle
        class="node"
        id="node8"
        cx="104.68332"
        cy="53.251481"
        r="1.54763"
      />
      <circle
        class="node"
        id="node9"
        cx="125.1606"
        cy="67.203386"
        r="1.54763"
      />
      <circle
        class="node"
        id="node10"
        cx="140.61082"
        cy="28.684153"
        r="1.54763"
      />
      <circle
        class="node"
        id="node11"
        cx="158.7999"
        cy="67.89376"
        r="1.54763"
      />
      <circle
        class="node"
        style="display: none; visibility: hidden"
        id="node12"
        cx="183.98481"
        cy="3.7325892"
        r="1.54763"
      />
      <path
        id="arrow"
        class="node"
        d="M 186.178,6.532 L 180.463,4.234 L 185.311,0.432 Z"
      />
    </g>
  </g>
</svg>
