<svg width="95mm" height="252mm" viewBox="0 0 95 252" version="1.1" id="svg1">
  <defs id="defs1" />
  <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
    <path
      id="mainPath"
      class="mainPath"
      d="m 41.416634,5.1038637 c 0,0 -14.823361,9.4002063 -9.76173,32.9006363 5.061633,23.500432 20.24654,24.58512 16.26955,54.231819 -3.977,29.646691 -19.161911,35.069931 -16.26955,53.870271 2.892361,18.80034 17.35418,33.62375 16.26955,63.99354 -0.18597,5.2071 -1.25178,9.90835 -2.73271,14.29647"
    />
    <path
      d="M 2.7459284,60.107235 H 92.562861"
      id="line1"
      class="horizontalLine"
    />
    <path
      class="horizontalLine"
      d="M 2.7459284,169.55466 H 92.562861"
      id="line3"
    />
    <path
      class="horizontalLine"
      d="M 2.7459284,114.86845 H 92.562861"
      id="line2"
    />
    <circle
      class="node nodeGuide"
      id="node5"
      cx="45.191746"
      cy="224.39659"
      r="2.3075802"
    />

    <circle
      class="node nodeLine"
      id="node2"
      cx="41.574177"
      cy="60.107239"
      r="2.3075802"
    />
    <circle
      class="node nodeLine"
      id="node3"
      cx="41.449543"
      cy="114.86845"
      r="2.3075802"
    />
    <circle
      class="node nodeLine"
      id="node4"
      cx="39.616543"
      cy="169.62965"
      r="2.3075802"
    />
    <text
      class="text"
      x="57.214642"
      y="58.85873"
      id="text4weeks"
      text-anchor="end"
    >
      <tspan class="textSpan" id="span4weeks" x="92.214642" y="58.85873">
        hace 4 semanas
      </tspan>
    </text>
    <text
      class="text"
      x="62.294624"
      y="113.51865"
      id="text6Monts"
      text-anchor="end"
    >
      <tspan id="span6months" class="textSpan" x="92.214642" y="113.51865">
        hace 6 meses
      </tspan>
    </text>
    <text
      class="text"
      x="47.097008"
      y="167.99753"
      id="textLifetime"
      text-anchor="end"
    >
      <tspan class="textSpan" id="spanLifetime" x="92.214642" y="167.99753">
        desde el principio
      </tspan>
    </text>
  </g>
</svg>
