<div class="grid">
  <div class="col-3 flex p-3 pr-1">
    <span class="flex align-items-center" routerLink="/">
      <span class="icon-container cursor-pointer">
        <app-iconlogo></app-iconlogo>
      </span>
    </span>
  </div>
  <div class="flex flex-1 p-3 justify-content-end">
    <div class="">
      <div class="flex flex-column gap-2 px-2 py-2">
        <p-dropdown
          [options]="languages"
          [(ngModel)]="selectedLanguage"
          optionLabel="name"
          placeholder=""
          (onChange)="dropdownChange($event)"
        >
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'fi fi-' + selectedLanguage.code.toLowerCase()"
                style="width: 18px"
              />
              <div>{{ selectedLanguage.name }}</div>
            </div>
          </ng-template>
          <ng-template let-language pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'fi fi-' + language.code.toLowerCase()"
                style="width: 18px"
              />
              <div>{{ language.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="flex align-items-center justify-content-center">
      <div
        class="card flex justify-content-center"
        *ngIf="isAuthenticated; else loginButton"
      >
        <p-menu
          #menu
          [model]="items"
          styleClass="w-full md:w-auto"
          [popup]="true"
        >
          <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
          </ng-template>
          <ng-template pTemplate="end">
            <div
              pRipple
              class="relative overflow-hidden w-full flex align-items-center p-2 pl-3 text-color border-noround"
            >
              <p-avatar
                [icon]="!userData?.profileImage ? 'pi pi-user' : undefined"
                [image]="
                userData?.profileImage
                  ? userData?.profileImage?.[0]?.url
                  : undefined
              "
                class="mr-2"
                shape="circle"
              />
              <span class="flex flex-column">
                <span class="font-bold">{{ userData?.displayName }}</span>
                <span class="text-sm text-400">{{ userData?.email }}</span>
              </span>
            </div>
          </ng-template>
        </p-menu>

        <p-button
          (onClick)="menu.toggle($event)"
          [rounded]="true"
          icon="pi pi-user"
        ></p-button>
      </div>

      <ng-template #loginButton>
        <p-button *ngIf="!isAuthenticated" size="small" (click)="login()">
          {{ "BUTTONS.LOGIN" | translate }}
        </p-button>
      </ng-template>
    </div>
  </div>
</div>
