<div class="flex justify-content-center">
  <div class="flex gap-4 flex-column w-11">
    <div class="flex justify-content-center">
      <div class="text-primary font-bold text-xl sm:text-3xl">
        {{ "STATS.TOP_TRACKS" | translate }}
      </div>
    </div>

    <div class="flex justify-content-center">
      <p-selectButton
        [allowEmpty]="false"
        [options]="stateOptions"
        [(ngModel)]="value"
        optionLabel="label"
        optionValue="value"
        (onChange)="onChangeHandle($event)"
      />
    </div>

    <div class="flex justify-content-center w-full">
      <div class="flex flex-wrap gap-3 justify-content-center w-full">
        <!-- SKELETON -->
        <p-dataView
          [value]="skeletonElements"
          *ngIf="isLoading.tracks"
          [layout]="layout"
          class="w-full"
        >
          <ng-template pTemplate="header">
            <div class="flex justify-content-end">
              <p-dataViewLayoutOptions />
            </div>
          </ng-template>

          <!-- SKELETON LIST-->
          <ng-template pTemplate="list" let-trackPlayed>
            <div class="flex flex-column justify-content-center">
              <app-track-list-skeleton
                *ngFor="let item of skeletonElements"
              ></app-track-list-skeleton>
            </div>
          </ng-template>

          <!-- SKELETON GRID-->
          <ng-template pTemplate="grid" let-trackPlayed>
            <div class="flex flex-wrap gap-2 justify-content-center pt-3">
              <app-track-card-skeleton
                *ngFor="let item of skeletonElements"
                class="w-5rem md:w-8rem lg:w-10rem"
              ></app-track-card-skeleton>
            </div>
          </ng-template>
        </p-dataView>

        <!-- DATA -->
        <p-dataView
          #dv
          [value]="topTracks"
          *ngIf="!isLoading.tracks"
          [layout]="layout"
          (onChangeLayout)="handleLayout($event)"
          class="w-full"
        >
          <ng-template pTemplate="header">
            <div class="flex justify-content-end w-full">
              <p-dataViewLayoutOptions />
            </div>
          </ng-template>

          <ng-template pTemplate="empty">
            <div class="flex align-items-center justify-content-center h-12rem">
              <h3>No data</h3>
            </div>
          </ng-template>

          <!-- DATA LIST -->
          <ng-template pTemplate="list">
            <div class="flex flex-column justify-content-start w-full">
              <app-track-list-item
                *ngFor="let track of topTracks"
                [track]="track"
              ></app-track-list-item>
            </div>
          </ng-template>

          <!-- DATA GRID -->
          <ng-template pTemplate="grid">
            <div class="flex flex-wrap gap-2 justify-content-center pt-3">
              <app-track-card-item
                *ngFor="let track of topTracks"
                [trackItem]="track"
                class="w-5rem md:w-8rem lg:w-10rem"
              ></app-track-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>

    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="dataPagination.first"
      [rows]="actualRows"
      [totalRecords]="dataPagination.totalRecords"
      [rowsPerPageOptions]="dataPagination.rowsPerPageOptions"
      [showCurrentPageReport]="true"
    />
  </div>
</div>
