<div class="flex justify-content-center">
  <div class="flex gap-4 flex-column w-11">
    <div class="flex justify-content-center">
      <h1 class="m-0">Top tracks</h1>
    </div>

    <div class="flex justify-content-center">
      <p-selectButton
        [allowEmpty]="false"
        [options]="stateOptions"
        [(ngModel)]="value"
        optionLabel="label"
        optionValue="value"
        (onChange)="onChangeHandle($event)"
      />
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="dataPagination.first"
      [rows]="actualRows"
      [totalRecords]="dataPagination.totalRecords"
      [rowsPerPageOptions]="dataPagination.rowsPerPageOptions"
    />
    <div class="flex justify-content-center">
      <div class="flex flex-wrap gap-3 justify-content-center h-full">
        <!-- NO DATA FOUND -->
        <div
          *ngIf="topTracks?.length === 0 && !isLoading.tracks"
          class="flex justify-content-center align h-24rem align-items-center"
        >
          <span class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl"
            >No data</span
          >
        </div>

        <!-- SKELETON -->
        <ng-container *ngIf="isLoading.tracks">
          <div class="flex flex-wrap gap-3 justify-content-center">
            <app-track-card-skeleton
              *ngFor="let item of skeletonElements"
              class="w-5rem md:w-8rem lg:w-10rem"
            ></app-track-card-skeleton>
          </div>
        </ng-container>

        <!-- DATA -->
        <ng-container *ngIf="!isLoading.tracks">
          <div class="flex flex-wrap gap-3 justify-content-center">
            <app-track-card-item
              *ngFor="let track of topTracks"
              [track]="track"
              class="w-5rem md:w-8rem lg:w-10rem"
            ></app-track-card-item>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
