<div class="flex justify-content-center align-items-center">
  <!-- RECENTLY PLAYED -->
  <section class="flex flex-column gap-5 w-8 lg:w-8 md:w-11 sm:w-11 w-11">
    <div class="flex justify-content-center">
      <div class="text-primary font-bold text-xl sm:text-3xl">
        {{ "STATS.RECENTLY_PLAYED" | translate }}
      </div>
    </div>

    <!-- SKELETON -->
    <p-dataView
      [value]="skeletonElements"
      *ngIf="isLoading.recentlyPlayed"
      [layout]="layout"
    >
      <ng-template pTemplate="header">
        <div class="flex justify-content-end">
          <p-dataViewLayoutOptions />
        </div>
      </ng-template>

      <!-- SKELETON LIST -->
      <ng-template pTemplate="list" let-trackPlayed>
        <div class="flex flex-column justify-content-start">
          <app-recently-played-list-skeleton
            *ngFor="let item of skeletonElements"
          ></app-recently-played-list-skeleton>
        </div>
      </ng-template>

      <!-- SKELETON GRID-->
      <ng-template pTemplate="grid" let-trackPlayed>
        <div class="flex flex-wrap gap-3 justify-content-center pt-3">
          <app-track-card-skeleton
            *ngFor="let item of skeletonElements"
            class="w-5rem md:w-8rem lg:w-10rem"
          ></app-track-card-skeleton>
        </div>
      </ng-template>
    </p-dataView>

    <!-- DATA -->
    <p-dataView
      #dv
      [value]="tracksPlayed"
      *ngIf="!isLoading.recentlyPlayed"
      [layout]="layout"
    >
      <ng-template pTemplate="header">
        <div class="flex justify-content-end">
          <p-dataViewLayoutOptions />
        </div>
      </ng-template>

      <ng-template pTemplate="empty">
        <div class="flex align-items-center justify-content-center h-12rem">
          <h3>No data</h3>
        </div>
      </ng-template>

      <!-- DATA LIST -->
      <ng-template pTemplate="list">
        <div class="flex flex-column justify-content-start">
          <app-recently-played-list-item
            *ngFor="let trackPlayed of tracksPlayed"
            [trackPlayed]="trackPlayed"
          ></app-recently-played-list-item>
        </div>
      </ng-template>

      <!-- DATA GRID -->
      <ng-template pTemplate="grid">
        <div class="flex flex-wrap gap-3 justify-content-center pt-3">
          <app-track-card-item
            *ngFor="let track of tracksPlayed"
            [trackItem]="track.track"
            [playedAt]="track.played_at | timeFromNow : 'en'"
            class="w-5rem md:w-8rem lg:w-10rem"
          ></app-track-card-item>
        </div>
      </ng-template>
    </p-dataView>
  </section>
</div>
