<div class="flex justify-content-center align-items-center">
  <!-- RECENTLY PLAYED -->
  <section class="flex flex-column gap-5 w-8 lg:w-8 md:w-11 sm:w-11 w-11">
    <div class="flex justify-content-center">
      <h1 class="m-0">Recently played</h1>
    </div>

    <!-- SKELETON -->
    <p-dataView [value]="skeletonElements" *ngIf="isLoading.currentlyPlayed">
      <ng-template pTemplate="list" let-trackPlayed>
        <div class="flex flex-column justify-content-start">
          <app-recently-played-list-skeleton
            *ngFor="let item of skeletonElements; let first = first"
            [showBorder]="!first"
          ></app-recently-played-list-skeleton>
        </div>
      </ng-template>
    </p-dataView>

    <!-- DATA -->
    <p-dataView
      #dv
      [value]="tracksPlayed"
      *ngIf="!isLoading.currentlyPlayed"
      [layout]="'list'"
    >
      <ng-template pTemplate="header">
        <div class="flex justify-content-end">
          <p-dataViewLayoutOptions />
        </div>
      </ng-template>

      <ng-template pTemplate="empty">
        <div class="flex align-items-center justify-content-center h-12rem">
          <h3>No data</h3>
        </div>
      </ng-template>

      <ng-template pTemplate="list">
        <div class="flex flex-column justify-content-start">
          <app-recently-played-list-item
            *ngFor="let trackPlayed of tracksPlayed; let first = first"
            [trackPlayed]="trackPlayed"
            [showBorder]="!first"
          ></app-recently-played-list-item>
        </div>
      </ng-template>

      <ng-template pTemplate="grid">
        <div class="flex flex-wrap gap-3 justify-content-center">
          <app-track-card-item
            *ngFor="let track of tracksPlayed"
            [trackItem]="track.track"
            [playedAt]="track.played_at | timeFromNow : 'en'"
            class="w-5rem md:w-8rem lg:w-10rem"
          ></app-track-card-item>
        </div>
      </ng-template>
    </p-dataView>
  </section>
</div>
