<div class="flex align-items-center justify-content-center">
  <h1 class="m-0 text-primary">My top Stats</h1>
</div>

<div class="grid">
  <!-- TOP ARTISTS -->
  <section class="md:col-6 col-12">
    <div class="flex align-items-center justify-content-center gap-4">
      <h3 class="">Top Artists</h3>
      <p-button
        label="Show all"
        icon="pi pi-eye"
        size="small"
        routerLink="./top-artists"
      />
    </div>

    <p-dataView #dv [value]="topArtists">
      <ng-template pTemplate="list" let-topArtists>
        <div class="grid grid-nogutter pl-4">
          <div
            class="col-12 cursor-pointer hover:shadow-8"
            *ngFor="let artist of topArtists; let first = first"
            (click)="handleClick(artist.external_urls.spotify)"
          >
            <div
              class="flex justify-content-between gap-3 py-1"
              [ngClass]="{ 'border-top-1 surface-border': !first }"
            >
              <div
                class="flex justify-content-center align-items-center text-4xl font-bold text-primary w-2"
              >
                # {{ artist.rank_number }}
              </div>

              <div class="flex w-5rem h-5rem overflow-hidden pb-2">
                <p-image
                  [src]="artist.images[0].url"
                  [alt]="artist.name"
                  width="100%"
                ></p-image>
              </div>
              <div
                class="flex flex-column justify-content-center justify-content-center flex-1 gap-4"
              >
                <div class="text-lg font-medium text-900">
                  {{ artist.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </section>

  <!-- TOP TRACKS -->
  <section class="md:col-6 col-12">
    <div class="flex align-items-center justify-content-center gap-4">
      <h3>Top Tracks</h3>
      <p-button
        label="Show all"
        icon="pi pi-eye"
        size="small"
        routerLink="./top-tracks"
      />
    </div>

    <p-dataView #dv [value]="topTracks">
      <ng-template pTemplate="list" let-topArtists>
        <div class="grid grid-nogutter">
          <div
            class="col-12 cursor-pointer hover:shadow-8"
            *ngFor="let track of topTracks; let first = first"
            (click)="handleClick(track.external_urls.spotify)"
          >
            <div
              class="flex justify-content-between gap-3 py-1"
              [ngClass]="{ 'border-top-1 surface-border': !first }"
            >
              <div
                class="flex justify-content-center align-items-center text-4xl font-bold text-primary w-2"
              >
                # {{ track.rank_number }}
              </div>
              <div class="flex w-5rem h-5rem overflow-hidden pb-2">
                <p-image
                  [src]="track.album.images[0].url"
                  [alt]="track.name"
                  width="100%"
                ></p-image>
              </div>
              <div
                class="flex flex-column justify-content-center justify-content-center flex-1 gap-4"
              >
                <div class="text-lg font-medium text-900">
                  {{ track.name }}
                </div>
              </div>
              <div class="flex align-items-center justify-content-center">
                <app-audio-player
                  (click)="$event.stopPropagation()"
                  [urlPreview]="track.preview_url"
                ></app-audio-player>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </section>
</div>
