<section class="footer p-2 py-5 bg-primary mt-6">
  <div class="flex justify-content-center align-items-center">
    <app-dropdown-language></app-dropdown-language>
  </div>
  <div class="text-center font-bold">
    <p>© 2024 - {{ currentYear }} TopStats. All Rights Reserved.</p>
    <p>Made in México with &#10084;&#65039;</p>
  </div>
  <div class="flex gap-3">
    <span>
      <a href="https://www.instagram.com" target="_blank" style="color: black">
        <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
      </a>
    </span>
    <span>
      <a href="https://www.github.com" target="_blank" style="color: black">
        <i class="pi pi-github" style="font-size: 1.5rem"></i>
      </a>
    </span>
    <span>
      <a href="https://www.tiktok.com" target="_blank" style="color: black">
        <i class="pi pi-tiktok" style="font-size: 1.5rem"></i>
      </a>
    </span>
    <span>
      <a href="https://www.twitter.com" target="_blank" style="color: black">
        <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
      </a>
    </span>
  </div>
</section>
