<div
  class="flex flex-column justify-content-center align-items-center gap-3 w-full surface-card px-3 py-4 border-round-2xl"
>
  <div
    class="overflow-hidden border-circle image-wrapper w-8rem md:w-11rem lg:w-13rem"
  >
    <p-image
      [src]="userInfo?.profileImage?.[0]?.url"
      alt="Image profile"
      width="100%"
      *ngIf="userInfo?.profileImage; else avatarDefault"
    />
    <ng-template #avatarDefault>
      <div
        class="surface-50 flex align-items-center justify-content-center w-full h-8rem md:h-11rem lg:h-13rem"
      >
        <span class="pi pi-user" style="font-size: 3rem"></span>
      </div>
    </ng-template>
  </div>

  <div class="flex flex-column align-items-center gap-1 justify-content-center">
    <span class="font-bold text-3xl text-primary">
      {{ userInfo?.displayName }}
    </span>
    <div class="font-bold">
      <span class="">Followers </span>
      <span class="">{{ userInfo?.followers?.total }}</span>
    </div>
  </div>

  <div class="flex justify-content-evenly w-full gap-1">
    <div class="flex align-items-center flex-column w-3 gap-2">
      <div
        class="font-bold text-primary text-sm sm:text-sm md:text-lg lg:text-xl xl:text-xl"
      >
        Top artist
      </div>
      <!-- DATA TOP ARTST -->

      <app-artist-card-item
        [artist]="topArtist"
        class="w-full"
        [showRank]="false"
        *ngIf="topArtist && !isLoading.artists"
      ></app-artist-card-item>

      <!-- SKELETON TOP ARTIST -->

      <app-artist-card-skeleton
        *ngIf="!topArtist && isLoading.artists"
        class="w-full"
      ></app-artist-card-skeleton>

      <!-- NO DATA -->
      <h1 *ngIf="!topArtist && !isLoading.artists">No data</h1>
    </div>

    <!-- DATA TOP TRACK -->
    <div class="flex align-items-center flex-column w-3 gap-2">
      <div
        class="font-bold text-primary text-sm sm:text-sm md:text-lg lg:text-xl xl:text-xl"
      >
        Top track
      </div>

      <app-track-card-item
        *ngIf="topTrack && !isLoading.tracks"
        [trackItem]="topTrack"
        class="w-full"
        [showRank]="false"
      ></app-track-card-item>

      <app-track-card-skeleton
        *ngIf="!topTrack && isLoading.tracks"
        [showRank]="false"
        class="w-full"
      ></app-track-card-skeleton>

      <!-- NO DATA -->
      <h1 *ngIf="!topTrack && !isLoading.tracks">No data</h1>
    </div>
  </div>
</div>
