<p-card
  class="cursor-pointer custom-card"
  (click)="handleImageClick(artist.external_urls.spotify)"
>
  <ng-template pTemplate="header">
    <div class="p-1 pb-0">
      <div class="overflow-hidden border-circle image-wrapper">
        <p-image
          [src]="artist.images[0].url"
          [alt]="artist.name"
          width="100%"
        ></p-image>
      </div>
    </div>
  </ng-template>

  <div class="flex gap-1 justify-content-center">
    <p
      class="font-bold text-primary text-xs sm:text-xs md:text-base lg:text-lg m-0 p-0"
    >
      #{{ artist.rank_number }}
    </p>
    <p
      class="flex text-center font-bold text-xs sm:text-xs md:text-base lg:text-lg m-0 p-0"
    >
      {{ artist.name }}
    </p>
  </div>
</p-card>
