/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto";
}

.icon-primary {
  color: var(--primary-color); // Usa la variable de color primario del tema de PrimeNG
}

@import "./styles/dark/teal/theme.scss";
